.bento/
.cache/
.cargo/
.dwm/
.gnupg/
.java/
.local/
.lyrics/
.m2/
.mozilla/
.npm/
.pki/
.runelite/
.ssh/
.st/
.stack/
.steam/
.thunderbird/
.vim/plugged
.vscode


.config/coc
.config/Code
.config/configstore
.config/dconf
.config/google-chrome
.config/gtk-3.0
.config/kconf_updaterc
.config/kde.org
.config/kdeglobals
.config/sessions

.config/mpd/playlists
.config/mpd/database
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/ncspot/userstate.cbor

.config/pulse/
.config/yay
.config/mimeapps.list
.config/trashrc


Desktop
Downloads
docs/
github/
music/
temp/
yay/

.bash_history
.bash_logout
.bash_profile
.fehbg
.gitconfig
.lesshst
.pulse-cookie
.steampath
.steampid
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old
debug
