.bento/
.cache/
.cargo/
.dwm/
.gnupg/
.local/
.lyrics/
.mozilla/
.npm/
.pki/
.ssh/
.st/
.stack/
.thunderbird/
.vim/plugged
.vscode


.config/coc
.config/Code
.config/dconf
.config/google-chrome
.config/gtk-3.0

.config/mpd/playlists
.config/mpd/database
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/ncspot/userstate.cbor

.config/pulse/
.config/yay
.config/mimeapps.list


Desktop
Downloads
docs/
github/
music/
temp/
yay/

.bash_history
.bash_logout
.bash_profile
.fehbg
.gitconfig
.lesshst
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old
debug
